<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Основы Vue</title>
    <link rel='stylesheet' href="../theme.css" />
</head>
<body>    
    <div class="container" id="app">
        <div class="card">
            <h1 :style="{
                color: inputValue.length < 5 ? 'darkred' : 'darkblue',
                fontSize: inputValue.length < 7 ? '2rem' : '2.5rem',
                transition: '1s'
            }">{{ title }}</h1>
            <div class="form-control">
                <input 
                    type="text"  
                    :placeholder='placeholderString' 
                    :value='inputValue'
                    v-model='inputValue'                    
                    @keypress.enter='addNewNote'
                >
            </div>            
            <button class="btn" @click='addNewNote'>Add</button>
            <hr>
            <ul class="list" v-if='notes.length !== 0'>
                <li class="list-item" v-for='(note, idx) in notes'>
                    <!-- <span :class="note.length > 5 ? 'primary' : 'bold'">({{ idx + 1 }}) {{ toUpperCase(note) }}</span> -->
                    <!-- <span :class="{
                        'primary': true,
                        'bold': note.length > 5
                    }">({{ idx + 1 }}) {{ toUpperCase(note) }}</span> -->
                    <span :class="['bold', {'primary' : note.length > 5}]">({{ idx + 1 }}) {{ toUpperCase(note) }}</span>
                    <button class="btn danger" @click='removeNote(idx, $event)'>delete</button>
                </li>
                <li>
                    <strong>total: {{ notes.length }} | double: {{ doubleCountComputed }}</strong>
                </li>
            </ul>
            <div v-else>No noutz here. :C</div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>
</html>